/* Genel Stil Ayarları */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Başlık */
h1 {
    margin-top: 40px;
    font-size: 2.5em;
    color: #fff;
}
/* Thumbnail Galeri Düzeni */
.thumbnail-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolon */
    gap: 10px; /* Daha uygun boşluk */
    padding: 10px;
    justify-items: center;
}

.thumbnail {
    width: 100%; /* Fotoğrafların genişliğini container'a göre ayarlıyoruz */
    max-width: 150px; /* Fotoğrafların genişliğini sınırlandırıyoruz */
    height: auto;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05); /* Küçük bir büyütme efekti */
}

/* Mobil Uyumluluk */
@media (max-width: 768px) {
    .thumbnail-container {
        grid-template-columns: repeat(2, 1fr); /* 2 kolon */
        gap: 10px; /* Boşlukları koruyoruz */
    }
}

@media (max-width: 480px) {
    .thumbnail-container {
        grid-template-columns: 1fr; /* 1 kolon */
        gap: 10px; /* Boşlukları koruyoruz */
    }
}




/* Lightbox */
.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
}

.lightbox .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 3em;
    color: #fff;
    cursor: pointer;
}

.lightbox .controls {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.lightbox button {
    background-color: #333;
    border: none;
    padding: 10px 20px;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.lightbox button:hover {
    background-color: #444;
}


