/* Genel stiller */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Tanıtım Bölümü */
#tanitim {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.profil {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1000px;
}

.profil img {
    width: 280px;
    height: 280px;
    border-radius: 50%; /* Yuvarlak yapmak için */
    object-fit: cover; /* Fotoğrafın kesilmeden tamamen içine sığmasını sağlar */
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
}

.bilgi h1 {
    font-size: 3.5em;
    margin: 0;
}

.bilgi p {
    font-size: 1.4em;
    color: #bbbbbb;
    margin-top: 10px;
}

/* Buton Stili */
.buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.button {
    display: flex;
    align-items: center;
    background-color: #282828;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button i {
    margin-right: 10px; /* İkon ile yazı arasına boşluk ekler */
    font-size: 1.5em; /* İkon boyutunu ayarlar */
}

.button:hover {
    background-color: #555555;
}

/* Projeler Bölümü */
#projeler {
    text-align: center;
    padding: 40px;
}

.project a {
    display: inline-block;
    background-color: #222222; /* Daha koyu bir arka plan rengi */
    color: #ffffff; /* Beyaz metin rengi */
    padding: 10px 20px;
    font-size: 1.1em;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: #444444; /* Hover efektinde daha açık bir koyu renk */
}

/* Hakkımda ve Yetenekler Bölümü */
#bilgiler {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 60px;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.hakkimda {
    width: 45%;
}

.yetenekler {
    width: 45%;
    margin-left: 50px;
}

/* Yetenek Kutucukları */
.yetenekler ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 6px; /* Kutucuklar daha yakın olacak */
}

.yetenekler ul li {
    background: #222222; /* Daha koyu renk */
    padding: 5px 12px; /* Küçük ve yazıya yakın */
    border-radius: 40px;
    font-size: 0.85em;
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    box-shadow: none;
    transition: none; /* Mouse üstüne gelince değişmeyecek */
}

footer {
    background-color: #121212;
    color: #ffffff;
    padding: 20px 40px;
    text-align: right;
    border-top: 1px solid #363636; /* Üst çizgi eklemek için */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer p {
    font-size: 0.8em; /* Küçük yazı */
    font-weight: bold; /* Yazıyı kalınlaştırdım */
    margin: 0;
}

.email {
    text-align: left;
}

